<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @artwork.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @artwork.stock %>
</p>

<p>
  <strong>Photos:</strong>
  <%= @artwork.photos %>
</p>

<p>
  <strong>Category:</strong>
  <%= @artwork.category %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
