</head>
<!-- <body data-spy="scroll" style="background-image:url(/assets/san_juan_illustrated.jpg)"> -->
<body data-spy="scroll" >
    <!-- Preloader -->
        <div id="preloader">           
            <div id="status">
                <div class="loadicon icon-moustache wow tada infinite" data-wow-duration="8s"></div>
            </div>
        </div>
        
       <header>               
        <!-- ===========================
        HERO AREA
        =========================== -->
        <div id="hero">           
            <div class="container herocontent">               
                <h2 class="wow fadeInUp" data-wow-duration="2s">Prazaar</h2>                
                <h4 class="wow fadeInDown" data-wow-duration="3s">Welcome to Prazaar! A community to appriciate and expose art made by local artists.</h4>            
            </div>
            
            <!-- Featured image on the Hero area -->
            <!--<img class="heroshot wow bounceInUp" data-wow-duration="4s" src="img/hero-img.png" alt="Featured Work"> -->
            <%= image_tag("san_juan_illustrated_2.jpg", class:'heroshot wow bounceInUp', alt: 'Featured Work') %>            
        </div><!--HERO AREA END-->        
          

<!-- ===========================
    SERVICE SECTION START
    =========================== -->
    <div id="services" class="container">
       
        <!-- SERVICE SECTION HEADING START -->
        <div class="sectionhead  row wow fadeInUp">
            <span class="bigicon icon-cup "></span>
            <h3>Featured Work: </h3>
            <hr class="separetor">
         </div><!--SERVICE SECTION HEADING END-->
         
        <!-- SERVICE ITEMS START -->
        <div class="row">
               <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                  <%= image_tag("necklace_icon.jpg", class:'heroshot wow bounceInUp', alt: 'services') %> 
                   <h4>Exotic Silver Necklace</h4>
                   <p>Beautiful silver necklace. Artist: Estall</p>
                </div> <!-- ITEM END -->

               <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                   <%= image_tag("paradise_icon.jpg", class:'heroshot wow bounceInUp', alt: 'services') %>
                   <h4>Deserted beach</h4>
                   <p>Acrylics painitng of the beach. Artist: Davidcmiller</p>
                </div> <!-- ITEM END -->

                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                    <%= image_tag("cat_icon.jpg", class:'heroshot wow bounceInUp', alt: 'services') %>
                   <h4>Digital Cat</h4>
                   <p>Print of beautiful black cat. Artist: Werner22brigyye</p>
                </div> <!-- ITEM END -->

                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                   <%= image_tag("elephant_icon.jpg", class:'heroshot wow bounceInUp', alt: 'services') %>
                   <h4>Watercolor elephant</h4>
                   <p>Colorful elephant in watercolor. Artist: Tawnypwl</p>
                </div> <!-- ITEM END -->

                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                   <%= image_tag("lily_icon.jpg", class:'heroshot wow bounceInUp', alt: 'services') %>
                   <h4>Lily</h4>
                   <p>Acrylic painting of a lily. Artist: Silkebr</p>
                </div> <!-- ITEM END -->

                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                   <%= image_tag("watch_icon.jpg", class:'heroshot wow bounceInUp', alt: 'services') %>
                   <h4>Hearth Shaped Watch</h4>
                   <p>Gold bracelet with hearth-shaped box. Artist: Lulek41</p>
                </div> <!-- ITEM END -->
        </div><!-- SERVICE ITEMS END-->
    </div><!-- SERVICE SECTION END -->